.container-fluid
    .panel.panel-info
        .panel-heading Non-Technical Skills
        .panel-body
            ul.list-group
                li.list-group-item Teamwork
                li.list-group-item Teaching
                li.list-group-item Verbal and Written Communication
                li.list-group-item Leadership
                li.list-group-item Problem Solving
                li.list-group-item Time Management
                li.list-group-item Multitasking Abilities (Managed a team while developing)
    .col-md-6
        .panel.panel-info
            .panel-heading Technical Skills
            .panel-body
                h4 Languages 
                ul.list-group
                    li.list-group-item HTML & CSS
                    li.list-group-item JavaScript
                    li.list-group-item Java
                    li.list-group-item PHP
                    li.list-group-item C++
                h4 Frameworks
                ul.list-group
                    li.list-group-item JQuery
                    li.list-group-item AngularJS
                    li.list-group-item NodeJS
                    li.list-group-item GulpJS
    .col-md-6
        .panel.panel-info
            .panel-heading Technical Knowledge
            .panel-body
                h4 Package Managers
                ul.list-group
                    li.list-group-item apt-get
                    li.list-group-item npm
                    li.list-group-item bower
                h4 Concepts
                ul.list-group
                    li.list-group-item OOP
                    li.list-group-item CSRF Token Authentication
                    li.list-group-item RESTFul System
                    li.list-group-item Git
                    li.list-group-item Agile Workflow
                    li.list-group-item Java Spring
                    li.list-group-item Gradle
                    li.list-group-item SSH
    .col-xs-12
        .panel.panel-success
            .panel-heading Tools
            .panel-body
                .col-xs-6
                    h4 Operating Systems
                    ul.list-group
                        li.list-group-item Windows
                        li.list-group-item Linux
                    h4 Text-Editors/IDEs
                    ul.list-group
                        li.list-group-item Android Studio
                        li.list-group-item IntelliJ IDEA
                        li.list-group-item Eclipse
                        li.list-group-item Netbeans
                .col-xs-6
                    h4 Linux Preferences
                    ul.list-group
                        li.list-group-item DE: Pantheon/GNOME
                        li.list-group-item Terminal: Pantheon
                        li.list-group-item Distro: Ubuntu GNOME or Elementary OS
                        li.list-group-item Shell: ZSH
        
