.page-header
    h1.text-center Maneesh Tewani
.row.well
    .col-md-2
        img.img-responsive(height="200px" width="200px" src="images/maneesh-tucker.jpg")
    .col-md-10
        h4 About
        p
            | I am a Computer Science major at Purdue University who is eager to get some more experience.
            | I started out programming in Java/C++ and then I learned as wrote more and more projects.
            | Besides programming, I love Mock Trial, Taekwondo (2nd Dan Black Belt) and Tennis and was on top JV last year.
            | I am extremely excited to learn new programming concepts and ideas.
div
    h3 Here are some technologies I used to build this site:
    .panel.panel-success
        .panel-heading Frameworks
        .panel-body
            ul.list-group
                li.list-group-item HTML & CSS
                li.list-group-item JavaScript
                li.list-group-item AngularJS
                li.list-group-item UI-Bootstrap
                li.list-group-item Bootstrap
                li.list-group-item Jade
                li.list-group-item ExpressJS
                li.list-group-item NodeJS
                li.list-group-item GulpJS
                li.list-group-item Git
