.page-header
    h1.text-center Maneesh Tewani
    img.center-block(height="200" width="200" src="images/profile-pic.jpg")
.row
    .col-md-6
        .panel.panel-primary
            .panel-heading Job Experience
            .panel-body
                    img.center-block(src="https://media.licdn.com/media/p/1/000/1eb/33b/3459393.png" height="200" width="450")
                    h4 Intern Software Developer (June-August 2014)
                    p 
                        | There were two parts to my internship. I started out as an intern learning front-end technologies such as AngularJS and NodeJS.
                        | The second part consisted of converting features from a Delphi application into a modern web application. The application we wrote
                        | was a configurator where the user selected a product and would see selections based on whatever has already been selected and what 
                        | product is being selected.
                    a.btn.btn-primary(href="http://oasisdigital.com/project/modl-builder") modl-buildr
                    h4 Part-time Software Developer (August 2014 - June 2015)
                    p 
                        | This part of my career I was working part-time for Oasis Digital. This taught me to balance my time wisely between school and work.
                        | That being said, I learned quite a lot from this time. I started out maintaining the previous project and leading the other interns on
                        | the project. 
                        | I quickly found myself bored because of how much I already knew about the project. Due to this, I was put on a Java Spring project. 
                        | This was one of the most important parts of my career. Working on a prototype is very different from working on a full-fledged client 
                        | project. My job for the application was to work on the front-end and also work on a new demo data generator. This was a generator written
                        | in Java. 
                    a.btn.btn-primary(href="http://oasisdigital.com/project/java-employee-performance-cqrs") Employee Performance Improvement System
                    h4 Intern Team Leader / Project Leader
                    p
                        | After graduating High School, I was promoted to the Intern Team Leader. My job was to run the intern program and manage my own team. It was my
                        | responsibility for the new interns to gain the knowledge needed for future projects.
                        | I started out teaching front-end web development for about 4-7 hours a day. This included HTML & CSS, JavaScript, JQuery, AngularJS, NodeJS,
                        | dependency management and much more.
                        | Afterwards I was put on a project for the Saint Louis Science Center. I was the project lead for this application. We were to deliver a prototype
                        | by the end of the summer. 
                        | The application was to go hand-in-hand with the new Agriculture exhibit. The guests would be able to pull up the application and see whatever was
                        | physically in the exhibit. The point of the project was to make the experience much more interactive. So when the guest went to the app a map would
                        | appear with a set of markers and each marker would represent some media. Each media would have tags/attributes associated with the media and as you
                        | filter the attributes, more/less markers would appear on the map.
                        | Another side of the application was the admin side. The admin side would guide the user experience. Everything the guest would see is due to the options
                        | on the admin part. 
                        | We ended up finishing the prototype and now is the phase to move into production and integrating it closer into the exhibit.
                        | Some technologies we used were JIRA, HTML & CSS, JavaScript, AngularJS, NodeJS, GulpJS and Firebase.
    .col-md-6
        .panel.panel-primary
            .panel-heading Personal Projects
            .panel-body
                h4 SIMON
                img(src="https://lh6.ggpht.com/Bc_D9kvVnLeZLbs9JIKF_LvwN9AHNVVV8_ePCKtgYLPLtNODsKMPQiH9YVfD-HHSPQ=h310-rw")
                img(src="https://lh4.ggpht.com/J_PgUQjZYW0RnMLTNMkSaHdEabftTdC4VZR_zzy591ffBfLGKemYOfbq4xGnjd2D_ew=h310-rw")
                img(src="https://lh5.ggpht.com/uigo_v5MDtQpg7nicnsCyutMx8FAsPRS18QyUXrSmCtcHq7En9rH7aZ6vVEsgIejIg=h310-rw")
                p
                    | I have been a Google Play Developer for 2 years. It originated with SIMON.
                    | Initially this started as a project to learn more about Java and learn more about Artificial Intelligence.
                    | This was very important to me because it was the first dream I ever had. It was also when I realized I wanted
                    | to learn more and more about programming. It inspired me because it's when I realized that I could do whatever I wanted
                    | just by typing some lines of code. This is why I want to study Computer Science; so that I can solve the world's problems 
                    | through technology at a fast pace.
                    | Eventually SIMON evolved into a native Android Application that took actions based on voice-input. Some features included
                    | opening apps, texting other people, and computing calculations. I also recently achieved 100+ downloads on the application.
                h4 Article-Summarizer
                p 
                    | Hackathon culture is amazing. Taking a day or two just to hash out an idea and learn some cool stuff is awesome. I attended
                    | one of my first hackathons last winter. We realized that we needed to do more than just a small Android app. I realized that
                    | most people have social networks, but don't read the content because it's so long. We decided to change the entire social network
                    | experience by creating a summarizer application. It would take text and find which sentences were most important.
                    | We wrote a custom algorithm that took ranked sentences based on the frequency of specific words and how they matched with the title.
                    | This was when my team won the award for "The Best Application" at the hackathon.
     
